
.slide-enter {
}
.slide-enter-active {
  animation: slide-in 0.3s ease-in;
}
.slide-leave {
}
.slide-leave-active {
  animation: slide-out 0.3s ease-in;
  position: absolute;
}
.slide-move {
  transition: transform 0.3s ease-in-out;
  /*transition: transform 0.3s cubic-bezier(.25,.8,.25,1)*/
}

@keyframes slide-in {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-80px);
    opacity: 0;
  }
}
